---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [2]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [3]:

def get_list_of_university_towns():
    ins='''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    df=pd.DataFrame([],columns=['State','RegionName'])
    with open('university_towns.txt','r') as f:
        st = ''
        city = ''
        for line in f:
            if '[edit]' in line:
                st = line[:line.find('[')].strip()
                continue
            city = line 
            if '(' in city.strip():
                city = line[:city.find('(')]
                city = city.strip()
            df = df.append(pd.DataFrame([[st,city]],columns=['State','RegionName']),ignore_index=True)
    
                
            
       
                
                
                
        
                
                
    
    
                
                
    return df
get_list_of_university_towns()

             State                    RegionName
0          Alabama                        Auburn
1          Alabama                      Florence
2          Alabama                  Jacksonville
3          Alabama                    Livingston
4          Alabama                    Montevallo
5          Alabama                          Troy
6          Alabama                    Tuscaloosa
7          Alabama                      Tuskegee
8           Alaska                     Fairbanks
9          Arizona                     Flagstaff
10         Arizona                         Tempe
11         Arizona                        Tucson
12        Arkansas                   Arkadelphia
13        Arkansas                        Conway
14        Arkansas                  Fayetteville
15        Arkansas                     Jonesboro
16        Arkansas                      Magnolia
17        Arkansas                    Monticello
18        Arkansas                  Russellville
19        Arkansas                        Searcy
20      California                        Angwin
21      California                        Arcata
22      California                      Berkeley
23      California                         Chico
24      California                     Claremont
25      California                        Cotati
26      California                         Davis
27      California                        Irvine
28      California                    Isla Vista
29      California  University Park, Los Angeles
..             ...                           ...
487       Virginia                          Wise
488       Virginia                    Chesapeake
489     Washington                    Bellingham
490     Washington                        Cheney
491     Washington                    Ellensburg
492     Washington                       Pullman
493     Washington  University District, Seattle
494  West Virginia                        Athens
495  West Virginia                    Buckhannon
496  West Virginia                      Fairmont
497  West Virginia                     Glenville
498  West Virginia                    Huntington
499  West Virginia                    Montgomery
500  West Virginia                    Morgantown
501  West Virginia                 Shepherdstown
502  West Virginia                  West Liberty
503      Wisconsin                      Appleton
504      Wisconsin                    Eau Claire
505      Wisconsin                     Green Bay
506      Wisconsin                     La Crosse
507      Wisconsin                       Madison
508      Wisconsin                     Menomonie
509      Wisconsin                     Milwaukee
510      Wisconsin                       Oshkosh
511      Wisconsin                   Platteville
512      Wisconsin                   River Falls
513      Wisconsin                 Stevens Point
514      Wisconsin                      Waukesha
515      Wisconsin                    Whitewater
516        Wyoming                       Laramie

[517 rows x 2 columns]

In [4]:
def read_gdp_file():
    df = pd.read_excel('gdplev.xls')
    df = df.drop(['Current-Dollar and "Real" Gross Domestic Product','Unnamed: 1','Unnamed: 2','Unnamed: 3','Unnamed: 5'],axis=1)
    df = (df.drop([0,1,2,3,4,5,6])
          .rename(columns={'Unnamed: 4': 'Quarter','Unnamed: 6': 'GDP'})
          .set_index('Quarter')
         )
    find2000 = df.index.get_loc('2000q1')
    df = df.ix[find2000:]
    
    return df
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    df = read_gdp_file()
    offset = len(df)-1
    for x in range(1, offset):
        if (df.iloc[x]['GDP'] < df.iloc[x - 1]['GDP']) and (df.iloc[x + 1]['GDP'] < df.iloc[x]['GDP']):
            return df.iloc[x].name
    
get_recession_start()

'2008q3'

In [5]:
def get_recession_end():
    df = read_gdp_file()
    start = get_recession_start()
    for x in range (df.index.get_loc(start),len(df)):
        if (df.iloc[x]['GDP']>df.iloc[x-1]['GDP']) and (df.iloc[x-1]['GDP'] > df.iloc[x-2]['GDP']):
            return df.iloc[x].name

get_recession_end()

'2009q4'

In [6]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    df = read_gdp_file()
    start = df.index.get_loc(get_recession_start())
    end = df.index.get_loc(get_recession_end())
    df2 = df['GDP'][start:end]
    low = df[df['GDP']==np.min(df2)].iloc[0]
    
    
    return low.name
get_recession_bottom()

'2009q2'

In [7]:
def quarter(y, m):
    if m <= 3:
        q = 1
    elif m <= 6:
        q = 2
    elif m <= 9:
        q = 3
    elif m <= 12:
        q = 4
    return (str(y) + 'q' + str(q))

def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    df = pd.read_csv('City_Zhvi_AllHomes.csv')
    df = (df.drop(['RegionID','Metro','CountyName','SizeRank'],axis=1)
          .replace({'State':states})
          .set_index(['State','RegionName'])
         )
    df = df.convert_objects(convert_numeric=True)
    df = df.replace(to_replace='NaN',value=np.NaN)
    
    df = df.sort()
    cutter = list(df.columns.values)
    cutter = cutter.index('2000-01')
    df = df.drop(df.columns[:cutter],axis=1)
    leng = len(df.columns)
    x = 0
    while x < leng:
        col = df.iloc[:, x].name
        y = col.split('-')[0]
        m = col.split('-')[1]
        y = int(y)
        m = int(m)
        q = quarter(y, m)
        if x + 3 < leng:
            split = df.iloc[:, x:x + 3]
        else:
            split = df.iloc[:, x:x]
        df[q] = split.mean(axis=1)
        x += 3
    df = df.drop(df.columns[:x], axis=1)
    return df 
convert_housing_data_to_quarters()

                                  2000q2         2000q3         2000q4  \
State     RegionName
Alabama   Adamsville        69166.666667   69800.000000   71966.666667
          Alabaster        123066.666667  123166.666667  123700.000000
          Albertville       72600.000000   72833.333333   74200.000000
          Arab              81566.666667   81333.333333   82966.666667
          Ardmore                    NaN            NaN            NaN
          Axis                       NaN            NaN            NaN
          Baileyton                  NaN            NaN            NaN
          Bay Minette       78533.333333   79133.333333   81300.000000
          Bayou La Batre    44500.000000   44266.666667   43666.666667
          Bessemer                   NaN            NaN            NaN
          Birmingham        54400.000000   54966.666667   56066.666667
          Boaz              70266.666667   70300.000000   71466.666667
          Brent             94333.333333   96166.666667   98333.333333
          Brighton                   NaN            NaN            NaN
          Brookwood         95100.000000   98866.666667   99966.666667
          Buhl              94600.000000   96500.000000   96566.666667
          Calera           110366.666667  108000.000000  107933.333333
          Center Point      81233.333333   81500.000000   82233.333333
          Centreville       96566.666667   98000.000000   99366.666667
          Chalkville        94433.333333   94433.333333   94433.333333
          Chancellor                 NaN            NaN            NaN
          Chelsea          167033.333333  166900.000000  167400.000000
          Chickasaw         53666.666667   54933.333333   56066.666667
          Chunchula         81766.666667   82200.000000   83400.000000
          Citronelle        66633.333333   68066.666667   67766.666667
          Clay             122266.666667  123966.666667  126500.000000
          Coden             64800.000000   66866.666667   68566.666667
          Coker            120766.666667  118166.666667  115333.333333
          Concord           78700.000000   80133.333333   82800.000000
          Cottondale       102633.333333  104766.666667  105300.000000
...                                  ...            ...            ...
Wisconsin Vernon           178200.000000  174300.000000  177466.666667
          Vienna           181533.333333  182433.333333  186300.000000
          Vinland          126766.666667  134933.333333  137833.333333
          Wales                      NaN            NaN            NaN
          Waterford        119433.333333  120200.000000  121966.666667
          Waukesha         138433.333333  136733.333333  139833.333333
          Waunakee         191433.333333  192666.666667  193733.333333
          Waupun            84000.000000   84400.000000   84533.333333
          Wausau            69466.666667   71033.333333   69833.333333
          Wayne                      NaN            NaN            NaN
          West Allis        81933.333333   84066.666667   80666.666667
          Weston            82700.000000   84166.666667   85800.000000
          Wheatland        132133.333333  134933.333333  137833.333333
          Whitelaw         101433.333333  108033.333333  114000.000000
          Williams Bay     115300.000000  110766.666667  110700.000000
          Wilson           129366.666667  132433.333333  137200.000000
          Wilson                     NaN            NaN            NaN
          Wind Lake        123666.666667  124133.333333  126066.666667
          Wind Point       145266.666667  140866.666667  147866.666667
          Wisconsin Dells  103400.000000  105000.000000  105433.333333
          Wolf River        99333.333333  103800.000000  107633.333333
          Woodruff                   NaN            NaN            NaN
          Woodville                  NaN            NaN            NaN
          Yorkville        134900.000000  135033.333333  140300.000000
Wyoming   Bar Nunn          89666.666667   88900.000000   93500.000000
          Burns            104566.666667  108366.666667  113000.000000
          Casper            89600.000000   89733.333333   93166.666667
          Cheyenne         120033.333333  121533.333333  123633.333333
          Evansville       128766.666667  130833.333333  132066.666667
          Pine Bluffs       95066.666667   94633.333333   98066.666667

                                  2001q1         2001q2         2001q3  \
State     RegionName
Alabama   Adamsville        73466.666667   74000.000000   73333.333333
          Alabaster        123233.333333  125133.333333  127766.666667
          Albertville       75900.000000   76000.000000   72066.666667
          Arab              84200.000000   84533.333333   81666.666667
          Ardmore                    NaN            NaN            NaN
          Axis                       NaN            NaN            NaN
          Baileyton                  NaN            NaN            NaN
          Bay Minette       85700.000000   87266.666667   85900.000000
          Bayou La Batre    42500.000000   43333.333333   45433.333333
          Bessemer                   NaN            NaN            NaN
          Birmingham        56833.333333   57600.000000   58433.333333
          Boaz              72833.333333   71900.000000   68733.333333
          Brent             96533.333333   98500.000000   99366.666667
          Brighton                   NaN            NaN            NaN
          Brookwood        101666.666667  103666.666667  101833.333333
          Buhl              99266.666667  101966.666667  102000.000000
          Calera           109333.333333  112200.000000  114333.333333
          Center Point      83366.666667   84333.333333   84466.666667
          Centreville       98100.000000   99266.666667  100400.000000
          Chalkville        96066.666667   97433.333333   98400.000000
          Chancellor                 NaN            NaN            NaN
          Chelsea          170633.333333  174300.000000  174900.000000
          Chickasaw         55133.333333   53566.666667   53533.333333
          Chunchula         85400.000000   86100.000000   86733.333333
          Citronelle        67866.666667   70000.000000   71466.666667
          Clay             128033.333333  128300.000000  129233.333333
          Coden             68933.333333   71300.000000   72733.333333
          Coker            114066.666667  115700.000000  118833.333333
          Concord           85133.333333   85800.000000   84866.666667
          Cottondale       106733.333333  109233.333333  109200.000000
...                                  ...            ...            ...
Wisconsin Vernon           186233.333333  190500.000000  193100.000000
          Vienna           190600.000000  191566.666667  193733.333333
          Vinland          144300.000000  148200.000000  147733.333333
          Wales                      NaN            NaN            NaN
          Waterford        127000.000000  133000.000000  139233.333333
          Waukesha         147600.000000  151066.666667  153100.000000
          Waunakee         197333.333333  198500.000000  201266.666667
          Waupun            85100.000000   86600.000000   87666.666667
          Wausau            69866.666667   71366.666667   73100.000000
          Wayne                      NaN            NaN            NaN
          West Allis        79100.000000   80333.333333   81433.333333
          Weston            87266.666667   88500.000000   90066.666667
          Wheatland        142566.666667  143000.000000  143966.666667
          Whitelaw         116333.333333  114966.666667  115666.666667
          Williams Bay     112600.000000  117100.000000  119533.333333
          Wilson           143533.333333  143833.333333  143233.333333
          Wilson                     NaN            NaN            NaN
          Wind Lake        132133.333333  139466.666667  144200.000000
          Wind Point       158666.666667  163966.666667  170833.333333
          Wisconsin Dells  105533.333333  107100.000000  109866.666667
          Wolf River       111400.000000  115033.333333  116900.000000
          Woodruff                   NaN            NaN            NaN
          Woodville                  NaN            NaN            NaN
          Yorkville        148800.000000  155233.333333  161133.333333
Wyoming   Bar Nunn          98833.333333   99900.000000   99100.000000
          Burns            115833.333333  117200.000000  117800.000000
          Casper            95500.000000   97633.333333   99433.333333
          Cheyenne         125533.333333  126300.000000  126466.666667
          Evansville       130566.666667  131433.333333  132400.000000
          Pine Bluffs      103233.333333  104600.000000  106500.000000

                                  2001q4         2002q1         2002q2  \
State     RegionName
Alabama   Adamsville        73100.000000   73333.333333   73133.333333
          Alabaster        127200.000000  127300.000000  128000.000000
          Albertville       73566.666667   76533.333333   76366.666667
          Arab              83900.000000   87266.666667   87700.000000
          Ardmore                    NaN            NaN            NaN
          Axis                       NaN            NaN            NaN
          Baileyton                  NaN            NaN            NaN
          Bay Minette       85000.000000   84066.666667   84566.666667
          Bayou La Batre    45400.000000   45400.000000   45566.666667
          Bessemer                   NaN            NaN            NaN
          Birmingham        58700.000000   59500.000000   59866.666667
          Boaz              69833.333333   72766.666667   72100.000000
          Brent            104100.000000  103800.000000  102533.333333
          Brighton                   NaN            NaN            NaN
          Brookwood         99900.000000   99633.333333  100366.666667
          Buhl             102733.333333  102533.333333  100100.000000
          Calera           112133.333333  111500.000000  111233.333333
          Center Point      85333.333333   86100.000000   86500.000000
          Centreville      104633.333333  105233.333333  105066.666667
          Chalkville        99366.666667   99866.666667  100733.333333
          Chancellor                 NaN            NaN            NaN
          Chelsea          173300.000000  170566.666667  171100.000000
          Chickasaw         53400.000000   54266.666667   55000.000000
          Chunchula         86566.666667   86166.666667   86533.333333
          Citronelle        70933.333333   69833.333333   68133.333333
          Clay             130466.666667  130900.000000  131100.000000
          Coden             73600.000000   72933.333333   69100.000000
          Coker            122566.666667  122366.666667  119200.000000
          Concord           84766.666667   86366.666667   90366.666667
          Cottondale       109900.000000  109333.333333  107966.666667
...                                  ...            ...            ...
Wisconsin Vernon           197466.666667  201800.000000  201966.666667
          Vienna           194833.333333  198466.666667  202466.666667
          Vinland          151200.000000  149233.333333  146433.333333
          Wales                      NaN            NaN            NaN
          Waterford        143100.000000  145733.333333  151266.666667
          Waukesha         155033.333333  158200.000000  157833.333333
          Waunakee         202100.000000  206100.000000  208533.333333
          Waupun            87100.000000   87533.333333   87466.666667
          Wausau            74033.333333   76400.000000   78700.000000
          Wayne                      NaN            NaN            NaN
          West Allis        82400.000000   84966.666667   87566.666667
          Weston            91766.666667   94833.333333   97600.000000
          Wheatland        142633.333333  143933.333333  146433.333333
          Whitelaw         115866.666667  117766.666667  116800.000000
          Williams Bay     121400.000000  126566.666667  131700.000000
          Wilson           141966.666667  142466.666667  139200.000000
          Wilson                     NaN            NaN            NaN
          Wind Lake        147333.333333  150933.333333  156166.666667
          Wind Point       169566.666667  170533.333333  179733.333333
          Wisconsin Dells  111633.333333  115833.333333  117333.333333
          Wolf River       118233.333333  118600.000000  116800.000000
          Woodruff                   NaN            NaN            NaN
          Woodville                  NaN            NaN            NaN
          Yorkville        162800.000000  164866.666667  172466.666667
Wyoming   Bar Nunn          98333.333333   98633.333333  100866.666667
          Burns            117633.333333  117333.333333  117233.333333
          Casper           100633.333333  101733.333333  101533.333333
          Cheyenne         128133.333333  128466.666667  129633.333333
          Evansville       133466.666667  133300.000000  131066.666667
          Pine Bluffs      104066.666667  102233.333333  103566.666667

                                  2002q3   ...           2014q2  \
State     RegionName                       ...
Alabama   Adamsville        73333.333333   ...     77066.666667
          Alabaster        127666.666667   ...    147133.333333
          Albertville       74433.333333   ...     84033.333333
          Arab              88233.333333   ...    113366.666667
          Ardmore                    NaN   ...    140533.333333
          Axis                       NaN   ...    111066.666667
          Baileyton                  NaN   ...     87666.666667
          Bay Minette       83766.666667   ...    113333.333333
          Bayou La Batre    45933.333333   ...     49800.000000
          Bessemer                   NaN   ...     54600.000000
          Birmingham        59733.333333   ...     61733.333333
          Boaz              70066.666667   ...     80933.333333
          Brent            103266.666667   ...     93866.666667
          Brighton                   NaN   ...     45366.666667
          Brookwood        100333.333333   ...    106633.333333
          Buhl              98000.000000   ...    119233.333333
          Calera           112233.333333   ...    125533.333333
          Center Point      86900.000000   ...     78833.333333
          Centreville      106700.000000   ...     95566.666667
          Chalkville       100600.000000   ...    105233.333333
          Chancellor                 NaN   ...    116400.000000
          Chelsea          175033.333333   ...    197133.333333
          Chickasaw         56500.000000   ...     59000.000000
          Chunchula         88533.333333   ...    120666.666667
          Citronelle        68733.333333   ...     88600.000000
          Clay             131333.333333   ...    134100.000000
          Coden             67766.666667   ...     77566.666667
          Coker            116533.333333   ...    141700.000000
          Concord           93833.333333   ...    104733.333333
          Cottondale       108033.333333   ...    128500.000000
...                                  ...   ...              ...
Wisconsin Vernon           206766.666667   ...    257733.333333
          Vienna           200500.000000   ...    265700.000000
          Vinland          151333.333333   ...    181766.666667
          Wales                      NaN   ...    262133.333333
          Waterford        153600.000000   ...    213133.333333
          Waukesha         158933.333333   ...    181166.666667
          Waunakee         209166.666667   ...    278100.000000
          Waupun            88566.666667   ...    113166.666667
          Wausau            78633.333333   ...     91600.000000
          Wayne                      NaN   ...    238633.333333
          West Allis        90233.333333   ...     90433.333333
          Weston           100266.666667   ...    133233.333333
          Wheatland        147500.000000   ...    169266.666667
          Whitelaw         113600.000000   ...    120433.333333
          Williams Bay     135266.666667   ...    223000.000000
          Wilson           138100.000000   ...    159933.333333
          Wilson                     NaN   ...    170300.000000
          Wind Lake        159900.000000   ...    228200.000000
          Wind Point       191666.666667   ...    261233.333333
          Wisconsin Dells  117866.666667   ...    137500.000000
          Wolf River       116166.666667   ...    162666.666667
          Woodruff                   NaN   ...    172133.333333
          Woodville                  NaN   ...    162600.000000
          Yorkville        175233.333333   ...    231500.000000
Wyoming   Bar Nunn         102066.666667   ...    199233.333333
          Burns            118366.666667   ...    168866.666667
          Casper           102400.000000   ...    175766.666667
          Cheyenne         131200.000000   ...    177466.666667
          Evansville       133300.000000   ...    296733.333333
          Pine Bluffs      105866.666667   ...    148666.666667

                                  2014q3         2014q4         2015q1  \
State     RegionName
Alabama   Adamsville        75966.666667   71900.000000   71666.666667
          Alabaster        147633.333333  148700.000000  148900.000000
          Albertville       84766.666667   86800.000000   88466.666667
          Arab             111700.000000  111600.000000  110166.666667
          Ardmore          139566.666667  140900.000000  143233.333333
          Axis             111833.333333  111800.000000  109533.333333
          Baileyton         90033.333333   94100.000000   94600.000000
          Bay Minette      110600.000000  109900.000000  111100.000000
          Bayou La Batre    51000.000000   51766.666667   50733.333333
          Bessemer          55333.333333   54733.333333   55200.000000
          Birmingham        60900.000000   59533.333333   59900.000000
          Boaz              81866.666667   82866.666667   83966.666667
          Brent             97100.000000  100100.000000  102433.333333
          Brighton          45133.333333   43766.666667   42500.000000
          Brookwood        110233.333333  114366.666667  117700.000000
          Buhl             132033.333333  138400.000000  141766.666667
          Calera           126733.333333  127633.333333  128366.666667
          Center Point      78433.333333   80200.000000   80100.000000
          Centreville       98866.666667  101866.666667  103933.333333
          Chalkville       104333.333333  105866.666667  106966.666667
          Chancellor       117000.000000  117133.333333  114733.333333
          Chelsea          199066.666667  199933.333333  202333.333333
          Chickasaw         60400.000000   59733.333333   58066.666667
          Chunchula        121600.000000  122733.333333  123666.666667
          Citronelle        89633.333333   90766.666667   91300.000000
          Clay             134300.000000  135466.666667  138466.666667
          Coden             76866.666667   77800.000000   79300.000000
          Coker            146300.000000  154333.333333  157566.666667
          Concord          100233.333333   94800.000000   96200.000000
          Cottondale       130566.666667  133433.333333  134500.000000
...                                  ...            ...            ...
Wisconsin Vernon           256200.000000  254566.666667  253633.333333
          Vienna           267466.666667  267766.666667  268300.000000
          Vinland          183500.000000  184233.333333  184033.333333
          Wales            262233.333333  258666.666667  256600.000000
          Waterford        213166.666667  213166.666667  218600.000000

In [17]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    df = convert_housing_data_to_quarters()
    towns = get_list_of_university_towns()
    towns = towns.set_index(['State','RegionName'])
    start = df.columns.get_loc(get_recession_start())
    low = df.columns.get_loc(get_recession_bottom())
    df['rat'] = df.iloc[:,start - 1]/df.iloc[:,low]
    df = pd.DataFrame(df.loc[:,'rat'])
    uni = pd.merge(df,towns,how='inner',left_index=True,right_index=True)
    uni = uni.dropna()
    non = pd.merge(df,towns,how='outer',left_index=True,right_index=True,indicator=True)
    non = non[non['_merge']=='left_only']
    non = non.dropna()
    s, p = ttest_ind(uni['rat'], non['rat'])
    return True, p, 'university town'
run_ttest()

(True, 0.002724063704761164, 'university town')